
/* Typography */

$main-font: "Playfair Display", arial, helvetica, sans-serif;
$josefin-sans-font: "Josefin Sans", arial, helvetica, sans-serif;
$font-size-base: 24px;
$line-height-base: 48px;


/*Background*/
$body-bg: #fff;

/*Color*/

$text-color: #fff;
$black-color: #000;
$red-color: #f64c58;
$dark-blue-color: #2030b6;
$blue-color: #4c7cfc;